*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(image/b6a68c27030ea2af7b8a281ac75c65d3.jpeg);
    width: 100%;
}
header{
    background-color: rgba(9, 58, 58, 0.783);
    position: fixed;
    width: 170px;
    height: 100%;
    margin-left: -170px;
    transition: all 1.0s linear;
}
header.active{
    margin-left: 0px;
}
.entrada{
    display: flexbox;
    text-align: center;
    
}
.topics2{
    margin-top: 10px;
    height: 60px;
    filter: invert(100%);
}
.topics{
    display: block;
    color: white;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 20px 10px;
    list-style: none;
    font-size: 17px;

}
#home{
    position: absolute;
    margin-left: 180px;
    height: 55px;
    filter: invert(100%);
    cursor: pointer;
}
#home:hover{
    transform: scale(1.2);
}
#container{
   padding: 50px;
} 
h1{
    color: white;
    text-align: center;
}
#danis{
    float: left;
    margin-top: 50px;
    height: 400px;
    border-radius: 50%;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 20px;

}
p{
    margin-top: 250px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    font-size: 20px;
    color: white; 
   
}
#endmark{
    height: 100px;
    margin-left: 20%;
    filter: invert(100%);
}
#media{
    text-align: end;
    margin-right: 20px;
}
.socialM{
    margin-top: 50px;
    height: 50px;
    filter: invert(100%);
}
.about{
    font-size: 40px;
    font-family: cursive;
}
.read{
    display: flex;
   text-align: justify;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 27px;
    
    
}
.mia{
    height: 270px;
    margin-left: 62px;
    margin-right: 50px;
    border: 1px solid black;
    transition:all 1.3s;  
    margin-bottom: 20px;
}
.mia:hover{
    transition:all 1.3s;
    transform:scale(1.2);
    border-radius: 60px;
    margin-bottom: 50px;
    margin-top: 30px;
    border: 1px solid blue;
}
.labvideos{
    display: flex;
    font-size: 30px;
    color: white;
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    text-decoration: underline;
    margin-top: 20px;
    
}
.labphotos{
    display: flex;
    font-size: 30px;
    color: white;
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    text-decoration: underline;
    margin-top: 20px;
}
.imagenper{
    margin-top: 10px;
    height: 250px;
}

@media(max-width:800px)and(min-width: 600px){
    body{
        width: 100%;
    }

   
}
@media (orientation: landscape){
    .about{
        margin-bottom: 20px;
    }
    .mia{
        height: 400px;
        margin-left: 460px;      
    }
    .mia:hover{
        border: 1px solid rgb(9, 9, 175);
    }
    .read{
        display: flex;
       text-align: justify;
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 20px;
        
        
    }
}